* {
    overflow: hidden;
    background: rgb(230, 145, 0);
    text-align: center;
}

.hitbox {
    height: 100px;
    width: 100px;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
button {
    height: 15px;
    width: 10px;
    background: green;
    border: 2px solid green;
    transform: translate(0px, 30px);
    border-radius: 100%;
}
button:hover{
    border: 2px solid red;
}
h2 {
    visibility: hidden;
}